# Folders
node_modules
stable
upload
settings
tmp

# Files
nlp.js
youtube-dl.exe
streamInfo.json
wiki.json
backupSettings.json
classifier.json
bot.png
stream.json
settings.json
invidious.js
zip*
yarn-error*
classifier.json
