# Folders
node_modules
stable
upload
settings
tmp

# Files
app.js.bak
nlp.js
youtube-dl.exe
streamInfo.json
wiki.json
backupSettings.json
classifier.json
bot.png
stream.json
settings.json
invidious.js
zip*
yarn-*
classifier.json
.yarnrc
bot.png
invidious.js
zip*
settings.json
stream.json
stable
