.btn {
  color: white;
  border-radius: 15px;
  border: none;
  background-color: $underline-input;
  padding: 0.6em;
  cursor: pointer;

  &--green {
    background-color: $greenChecked;
  }

  &--red {
    background-color: red;
  }
}
