@mixin align($justify: start, $align: start) {
  justify-content: $justify;
  align-items: $align;
}
@mixin background-image {
  background-image: url("../wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@mixin btn-style($border: none) {
  border: $border;
  border-radius: 15px;
  padding: 0.7em;
  margin-right: 1.1em;
  cursor: pointer;
}
@mixin flex-direction($direction: column) {
  flex-direction: $direction;
}
@mixin forecastIcon {
  width: 15%;
  height: 100%;
  justify-content: center;
  margin-top: 0;
  margin-right: 10%;
  font-size: 1.5em;
}
@mixin input-style {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightblue;
  max-width: 100%;
}
@mixin placeholder($color: lightgray) {
  color: $color;
  font-style: italic;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
