.about__container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @include align(center, center);

  &__child {
    width: 60%;
    height: 50%;
    border-radius: 0.5em;
    @include box-shadow;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    @media(max-width: 1000px) {
      width: 85%;
    }

    &__title {
      height: min-content;
      width: 100%;
      text-align: center;
      font-size: 1.2em;
    }

    &__section {
      flex-direction: row;
      width: 100%;
      height: 100%;
      font-size: 1.05em;
      padding: 0 1.5em;

      &__img {
        align-self: center;
        max-width: 30%;
      }

      &__left {
        width: 75%;
        font-size: 1.05em;
        flex-direction: column;

        &__item {
          align-items: center;
          justify-content: space-between;
          width: 75%;

          .updateBtn {
            width: 10em;
          }
        }
      }
    }
  }
}
