@keyframes shockwave {
  0% {
    padding: 0;
    box-shadow: 0 0 0.5em rgba(235, 193, 135, 0.5);
  }

  50% {
    padding: 3em;
    box-shadow: 0 0 5em rgba(235, 193, 135, 1);
  }

  95% {
    padding: 3em;
    box-shadow: 0 0 10em rgba(235, 193, 135, 0.2);
  }
}
