@keyframes shockwave {
  0% {
    padding: 0;
    box-shadow: 0 0 0.5em rgba(99.6,90.2,71.4, 0.5);
  }

  50% {
    padding: 3em;
    box-shadow: 0 0 5em rgba(99.6,90.2,71.4, 1);
  }

  95% {
    padding: 3em;
    box-shadow: 0 0 10em rgba(99.6,90.2,71.4, 0.2);
  }
}
