<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chat</title>
  <link rel="icon" type="image/png" href="src/favicon.png">
  <link rel="stylesheet" href="src/css/chat/chat.css">
</head>

<body>
  <div class="backgroundImage"></div>
  <div class="backgroundColor"></div>
  <div class="wrapper flex">
    <header class="header">
      <h1>Your conversation with <%=botName%></h1>
    </header>
    <main class="mainContainer flex">
      <section class="msgContainer flex">
        <div class="msgContainer__list flex"></div>
        <section class="msgContainer__botInfo flex">
          <img class="msgContainer__botInfo__icon" src="./src/css/chat/bot.png" alt="Bot icon">
          <p><%=botName%></p>
        </section>
      </section>
      <form class="mainContainer__form flex">
        <input class="mainContainer__form__inputMsg" type="text" name="" value="" placeholder="Say something...">
        <button class="mainContainer__form__sendBtn" type="submit" name="mainContainer__form__sendBtn">Send</button>
      </form>
    </main>
    <%- include('footer'); %>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8" type="application/javascript"></script>
  <script src="/socket.io/socket.io.js" type="application/javascript"></script>
  <script src="/src/js/chat.min.js" charset="utf-8" type="application/javascript"></script>
</body>

</html>
