<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chat</title>
  <link rel="icon" type="image/png" href="src/favicon.png">
  <link rel="stylesheet" href="src/scss/chat/chat.css">
</head>

<body>
  <div class="backgroundImage"></div>
  <div class="backgroundColor"></div>
  <div class="wrapper flex">
    <header class="header flex">
      <svg class="header__homeIcon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20 9v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9" />
        <path d="M9 22V12h6v10M2 10.6L12 2l10 8.6" /></svg>
    </header>
    <main class="mainContainer flex">
      <section class="msgContainer flex">
        <div class="msgContainer__msgList flex">
          <div class="msgContainer__msgList__list flex"></div>
          <form class="msgContainer__msgList__form flex">
            <input class="msgContainer__msgList__form__inputMsg" type="text" name="" value="" placeholder="Say something...">
            <button class="msgContainer__msgList__form__sendBtn" type="submit" name="msgContainer__msgList__form__sendBtn">Send</button>
          </form>
        </div>
        <section class="msgContainer__botInfo flex">
          <img class="msgContainer__botInfo__icon" src="./src/scss/chat/bot.png" alt="Bot icon">
          <p><%=botName%></p>
        </section>
      </section>
    </main>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8" type="application/javascript"></script>
  <script src="/socket.io/socket.io.js" type="application/javascript"></script>
  <script src="/src/js/chat.min.js" charset="utf-8" type="application/javascript"></script>
</body>

</html>
