<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="icon" type="image/png" href="src/favicon.png">
</head>

<body>
  <div class="backgroundImage"></div>
  <div class="wrapper flex">
    <header class="header"></header>
    <main class="mainContainer flex">
      <section class="msg flex">
        <h1>Messages</h1>
        <div class="msg__container flex">
          <input class="msg__container__inputMsg" type="text" name="" value="" placeholder="Say something...">
          <button class="msg__container__sendBtn" type="button" name="button">Send</button>
        </div>
      </section>
    </main>
    <footer class="footer flex">
      <span class="icon">ฬฟฬฟ ฬฟฬฟ ฬฟฬฟ ฬฟ'ฬฟ'\ฬตอฬฟฬฟ\ะท= ( โ ออสโ) =ฮต/ฬตอฬฟฬฟ/โฬฟโฬฟ ฬฟ ฬฟฬฟ ฬฟฬฟ ฬฟฬฟ</span>
      <span class="credits flex">
        <p>BadassBoard, proudly handmade in Belgium ๐บ</p>
      </span>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8" type="application/javascript"></script>
  <script src="/socket.io/socket.io.js" type="application/javascript"></script>
  <script src="/src/js/chat.min.js" charset="utf-8" type="application/javascript"></script>
</body>

</html>
