body,
html {
  font-size: 1.2em;
}

body {
  margin: 0;

  * {
    font-size: 0.9em;
    font-family: 'Ubuntu Regular', sans-serif;
    color: white;
    letter-spacing: 0.5px;
  }

  .backgroundImage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include background-image;
  }

  .fixed {
    position: fixed;
  }

  .hidden {
    display: none;
  }
}
