body {
  margin: 0;

  * {
    font-size: 1em;
    font-family: 'Ubuntu Regular', sans-serif;
    color: white;
    letter-spacing: 0.5px;
    box-sizing: border-box;
  }
}

.backgroundImage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include background-image;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}

.loading {
  position: absolute;
  @include align(center, center);
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;

  &__img {
    border-radius: 50%;
    animation: shockwave 1.3s linear infinite;
    width: 10%;
    box-sizing: content-box;
    @media (max-width: 720px) {
      width: 30%;
    }
  }
}
