@font-face {
  font-family: distant_galaxyregular;
  src: url("../fonts/DISTGRG_-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Regular';
  src: url("../fonts/ubuntu/Ubuntu-R.ttf");
  font-weight: normal;
  font-style: normal;
}
