.backgroundColor {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
}

.mainContainer {
  width: 100%;
  height: 100%;
  z-index: 1;
  flex-direction: column;
}

.chatContainer {
  height: 95%;
  width: 100%;
  align-items: center;
  font-size: 1.1em;

  &__msgList {
    width: 65%;
    height: 95%;
    flex-direction: column;
    align-self: start;
    margin-left: 3em;
    overflow: hidden;
    flex: 2;

    &__list {
      height: 100%;
      width: 100%;
      margin-bottom: 1.5em;
      flex-direction: column;
      overflow: auto;

      .embed {
        * {
          margin-top: 0.5em;
          font-size: 1em;
        }

        a {
          margin-left: 0.5em;
          font-style: italic;
        }

        &__icon {
          height: 1.5em;
        }

        &__link,
        &__title {
          color: $link-color;
        }

        &__desc,
        &__fields {
          text-align: justify;
        }

        &__fields {
          &__field {
            margin: 0.5em 0;
          }
        }
      }

      .msg {
        width: max-content;
        max-width: 45%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.6em;
        border-radius: 1em;
        box-shadow: 0.3em 0.2em 0.2em black;
        margin-top: 1em;
        transition: opacity 700ms;
        display: flex;
        flex-wrap: wrap;
        height: max-content;
      }

      .reply {
        align-self: flex-end;
        margin-right: 1em;
      }
    }

    &__form {
      &__inputMsg {
        width: 90%;
      }

      &__sendBtn {
        @include btn-style(1px solid);
        background-color: transparent;
        margin-left: 1em;
      }
    }
  }

  &__botInfo {
    height: 100%;
    width: 30%;
    flex-direction: column;
    @include align(center, center);
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 1em black;
    font-size: 1.1em;
    z-index: 1;
    align-self: flex-end;

    &__icon {
      max-width: 50%;
      max-height: 25%;
    }
  }
}
