.wrapper {
  padding: 0;
  margin: 0;
  @include flex-direction;

  ::placeholder {
    @include placeholder();
  }

  .rssTooltip {
    position: absolute;
    z-index: 1;

    .article__desc {
      padding: 1%;
      position: relative;
      background-color: opacify($contentBackground, 0.2);
      width: 30%;
      height: auto;
      border-radius: 1em;
      opacity: 0.9;
    }
  }
}

.warning {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  color: red;
  font-style: italic;
  margin-top: 1em;
  font-size: 1em;
}

.mainContainer {
  width: 100%;
  min-height: 100vh;
  @include align(center, center);
  @include flex-direction;
}

.converter {
  display: none;
  height: 3em;
  width: 60%;
  align-items: center;
  @include flex-direction;
  background-color: $contentBackground;
  z-index: 1;
  margin-bottom: 2%;
  border-radius: 15px;
  padding: 1%;
  box-shadow: 10px 10px 12px 2px $contentBackground;

  &__body {
    width: 100%;
    justify-content: space-around;

    & * {
      z-index: 1;
      font-size: 1em;
    }

    &__value1,
    &__value2 {
      height: 2em;
      width: 13%;
      color: black;
    }

    &__remove {
      position: relative;
      top: -50%;
      left: 94%;
      border-radius: 15px;
      padding: 3px;
      cursor: pointer;
    }

    & input {
      width: 15%;
      height: 2em;
      color: white;
    }

    .warning {
      display: flex;
      width: 100%;
      height: 2em;
      justify-content: center;
      padding-top: 1%;
      font-size: 1.1em;
    }
  }
}

.msgContainer {
  width: auto;
  height: auto;
  padding: 0.75%;
  margin: 1% 0;
  border: 1px solid white;
  border-radius: 15px;
  background-color: $contentBackground;
  z-index: 1;

  .warning {
    border: 1px solid red;
  }
}

.formContainer__container {
  display: flex;
  height: 20%;
  @include align(center, center);
  @include flex-direction;
  position: sticky;
  top: 0;
  width: 100%;
  padding-bottom: 2em;
  z-index: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: '';
    @include background-image;
    filter: blur(5px);
  }

  .formContainer {
    width: 50%;
    @include align(center, baseline);
    @include flex-direction(column);
    background-color: white;
    padding: 0.5% 1%;
    border-radius: 2em;
    opacity: 0.7;
    margin: 3% 0 0;
    box-shadow: 10px 10px 12px 2px $contentBackground;
    @media(max-width: 720px) {
      width: 70%;
    }

    .form {
      display: inline-flex;
      width: 100%;
      align-items: center;
      font-size: 1.1em;

      .questionBox {
        width: 100%;
        height: 2em;
        border: none;
        background: none;
        color: black;
        @media(max-width: 720px) {
          height: 2em;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }

      ::placeholder {
        @include placeholder(black);
        font-size: 1.2em;
      }

      button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
      }

      &__Submit {
        margin-left: 1%;
        @media(max-width: 720px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    .suggestions {
      font-size: 1.3em;
      width: 100%;
      overflow-y: auto;
      @media(max-width: 720px) {
        height: auto;
        overflow-y: auto;
      }

      * {
        color: black;
      }

      .suggestion {
        padding: 1% 0;
        align-items: center;
        width: 99%;
        @include flex-direction(row);
        cursor: pointer;

        &__icon {
          padding-right: 2%;
        }

        &__label {
          width: 10%;
          @media(max-width: 720px) {
            width: 30%;
          }
        }

        &__desc {
          font-style: italic;
          color: gray;
        }
      }
    }
  }
}

.audio {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5%;
  border-radius: 15px;
  margin-bottom: 1vh;
  display: none;
  position: fixed;
  top: 85%;
  @include flex-direction(row);
  align-items: center;
  z-index: 2;

  &__leftSvg,
  &__rightSvg {
    cursor: pointer;
    min-width: 2em;
  }

  &__container {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 720px) {
      width: 90%;
    }

    &__msg {
      height: min-content;
      width: 50%;
      font-size: 1.4em;
      min-width: 50%;

      .playlistInfo {
        width: min-content;
        margin: 0 1.5vh;
      }
    }

    &__player {
      height: min-content;
      min-width: 50%;
      width: 50%;
      @include align(space-evenly, center);
      @include flex-direction(row);
    }

    .streamInfoContainer {
      width: 50%;
      margin: 0 1vh;
      display: flex;
      @include flex-direction;
      flex: 1;
      overflow: hidden;

      .streamTitle {
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
        display: inline;
        white-space: nowrap;
      }

      .YtId {
        padding-top: 1%;
      }

      .YtId,
      .streamTitle {
        margin: 0;
        text-align: center;
      }
    }
    @media(max-width: 720px) {
      flex-direction: column;

      &__msg,
      &__player {
        width: 100%;
      }

      &__player {
        margin-top: 1em;
      }
    }
  }

  &__player {
    width: 100%;
  }

  &__remove {
    height: 2.5vh;
    cursor: pointer;
    position: absolute;
    top: -10px;
    left: 97%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.2%;
    border-radius: 45%;
  }
  @media(max-width: 720px) {
    width: 85%;
  }
}

.audio.playlist .audio__container__msg,
.audio.playlist .audio__container__player {
  width: 47%;
  min-width: 47%;
  @media(max-width: 720px) {
    width: 100%;
  }
}

.contentContainers {
  @include align(space-evenly, flex-start);
  @include flex-direction(row);
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 2em;
  @media(max-width: 720px) {
    justify-content: flex-start;
    width: 90%;
    flex-wrap: wrap;
  }

  .content__container {
    width: 32%;
    justify-content: space-between;
    @include flex-direction;
    font-size: 1em;
    @media(max-width: 720px) {
      width: 100%;

      .content.content1 {
        margin-top: 5%;
      }

      .newContent {
        display: none;
      }
    }

    .content {
      height: 36vh;
      width: 100%;
      font-size: 1.2em;
      @media(max-width: 720px) {
        height: auto;
        width: 100%;
        @include align(flex-start, end);
        margin-top: 1.5em;
      }

      .contentOptions {
        display: none;
        @include align(space-between, baseline);
        @include flex-direction(row);
        width: 17%;
        margin-top: 1%;

        &__clearResultsbtn,
        .removeContentBtn,
        .updateContentBtn {
          padding: 5%;
          cursor: pointer;
        }

        .removeContentBtn {
          border: 1px solid red;
          border-radius: 45%;
        }
      }

      .blank {
        @include align(center, center);
        opacity: 0;
        transition: opacity 1000ms, transform 200ms;

        &:hover {
          display: flex;
          opacity: 1;
        }

        &:hover .blank__addContent__svg {
          transform: rotate(360deg);
          transition: transform 1000ms;
        }
      }

      .flex {
        display: flex;
      }

      .addContent,
      .blank,
      .forecast,
      .rssContainer,
      .warning,
      .youtubeSearchContainer {
        @include flex-direction;
        background-color: $contentBackground;
        border-radius: 15px;
        height: 100%;
        max-height: 100%;
        width: 100%;
        font-size: 1.05em;
        @media(max-width: 720px) {
          width: 95%;
        }
      }

      .addContent,
      .blank,
      .forecast,
      .rssContainer,
      .youtubeSearchContainer {
        box-shadow: 10px 10px 12px 2px $contentBackground;
      }

      .blank,
      .forecast,
      .rssContainer,
      .warning,
      .youtubeSearchContainer {
        padding: 0 1% 2% 2%;
      }

      .forecast,
      .rssContainer,
      .youtubeSearchContainer {
        // Show content options
        &__header {
          transition: display 400ms;

          &:hover .contentOptions {
            display: flex;
          }
        }
      }

      .forecast {
        margin-right: -3%;

        &__header {
          display: inline-flex;
          align-items: center;
          padding-right: 2%;

          &__title {
            width: 100%;
            margin: 2% 0;
            text-align: center;
          }
        }

        &__content {
          @include flex-direction(row);
          width: 100%;
          height: 100%;
          font-size: 1.1em;
          overflow: auto;

          &__info {
            margin: 0 2%;
            height: 100%;
            width: 50%;
            @include flex-direction;

            * {
              display: flex;
              align-items: center;
            }

            span {
              margin-top: 2%;
            }

            .forecastIcon {
              @include forecastIcon();
            }

            &__description__desc,
            &__humidity__desc,
            &__temp__desc {
              margin: 0;
            }
          }
        }

        &__weatherIcon,
        .icon {
          @include align(end, flex-start);
          width: 50%;

          &__icon {
            font-size: 3.5em;
            margin-right: 5%;
          }
        }
      }

      .youtubeSearchContainer {
        @media(max-width: 720px) {
          height: 50vh;
        }

        &__content {
          height: 85%;
          width: 100%;
          @include align(flex-start, center);
          @include flex-direction();

          &__results {
            @include flex-direction();
            visibility: hidden;
            height: 100%;
            width: 100%;
            margin-top: 1em;
            font-size: 1em;
            overflow: auto;

            &__result {
              margin-bottom: 1.5em;
              padding: 0.5em;

              &:hover {
                background-color: opacify($contentBackground, 0.2);
                border-radius: 1em;
              }

              &__thumbnailContainer {
                width: 25%;
                align-items: center;

                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }

              &__content {
                @include flex-direction();
                width: 75%;
                padding: 0 0.5em;
                font-size: 1.1em;
                word-break: break-word;

                a {
                  text-overflow: ellipsis;
                  min-width: 0;
                  overflow: hidden;
                  white-space: nowrap;
                }

                p {
                  margin: 0.6em 0 0;

                  u {
                    text-decoration-style: dashed;
                  }
                }
              }
            }
          }
        }

        &__header {
          width: 100%;
        }
      }
    }

    .rssContainer__header {
      display: inline-flex;
      align-items: center;
    }

    .feedTitle,
    .youtubeSearchContainer__header p {
      display: block;
      width: 90%;
      text-align: center;
      margin: 2% 0;
    }

    .addContent {
      display: none;
      width: 100%;
      @include align(flex-start, center);
      @include flex-direction;

      label {
        margin: 2% 0;
        text-align: center;
      }

      &__select,
      &__select option {
        color: black;
        height: 2.1em;
      }

      &__feed,
      &__weather,
      &__youtube {
        display: none;
        width: 100%;
        height: 100%;
        @include align(center, center);
        @include flex-direction;
      }

      &__youtube {
        &__msg {
          font-style: italic;
          margin: 1.5% 0;
          text-align: center;
          flex-wrap: wrap;
        }
      }

      &__btnContainer {
        width: 100%;
        display: none;
        height: max-content;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        margin-bottom: 2vh;
        margin-right: 4vh;
      }

      &__feed__input,
      &__weather__input {
        border-radius: 5px;
      }

      &__cancelBtn,
      &__submitBtn {
        padding: 1.5%;
      }

      &__submitBtn {
        margin-left: 3%;
      }

      .warning {
        align-items: center;
        background: none;
        font-size: 0.9em;
        height: auto;
      }
    }

    .justifyCentered {
      justify-content: center;
    }

    .linksContainer {
      min-width: 0;
      flex: 1;
      overflow-y: auto;

      .link:visited {
        color: grey;

        & span {
          color: grey;
        }
      }

      .article {
        @include flex-direction;
        margin-top: 0.5em;
        @media(max-width: 720px) {
          padding-left: 0.6em;
        }

        .link {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 0;
          cursor: pointer;
        }

        &__desc {
          display: none;
          position: relative;
          top: -100px;
          left: 100%;
          background-color: white;
          border-radius: 15px;
          color: black;
          text-align: justify;
          padding: 5%;
        }
      }
    }

    .subRow {
      margin-top: 2.5vh;
    }
  }
}

.footer {
  height: 5vh;
  width: 100%;
  @include align(center, center);
  @include flex-direction;
  background: none;
  padding-bottom: 1em;
  position: relative;
  bottom: 5%;

  .icon {
    font-size: 1.3em;
  }

  .credits {
    @include align(center, baseline);
    @include flex-direction(row);
    width: 100%;
    margin: 0 0 3vh;

    & * {
      font-size: 1.2em;
      height: auto;
      margin: 1% 0 0;
    }
  }
}

.confirmation {
  @include align(center, center);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $contentBackground;
  display: none;
  z-index: 3;

  &__child {
    width: 50%;
    height: 60%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 1em;
    flex-direction: column;
    box-shadow: 10px 10px 12px 2px $contentBackground;

    &__content {
      height: 75%;
      flex-direction: column;

      &__msg {
        text-align: center;
        font-style: italic;
        font-size: 1.2em;
        margin-top: 0;
      }

      .article {
        margin-bottom: 0.2em;
      }

      .forecast,
      .rssContainer,
      .youtubeSearchContainer {
        flex-direction: column;
        font-size: 1.5em;
        width: 50%;
        align-items: center;
        align-self: center;
        padding: 0.5em;
        border: 1px solid white;
        border-radius: 1em;
      }

      .contentOptions {
        display: none;
      }

      .forecast,
      .rssContainer {
        height: max-content;
      }

      .forecast__header,
      .rssContainer__header,
      .youtubeSearchContainer__header {
        margin-bottom: 1em;
      }

      .forecast {
        width: 40%;

        &__header {
          &__title {
            display: flex;
            justify-content: center;
          }
        }

        &__content {
          width: 100%;

          &__info {
            flex-direction: column;
            width: 50%;

            * {
              display: flex;
            }

            p {
              margin: 0;
            }

            span {
              margin-top: 5%;
              align-items: center;
            }

            .forecastIcon {
              @include forecastIcon();
            }
          }
        }

        &__weatherIcon {
          width: 50%;
          @include align(end, flex-start);

          &__icon {
            font-size: 3.5em;
            margin-right: 5%;
          }
        }
      }

      .youtubeSearchContainer {
        height: 100%;

        &__header p {
          width: 100%;
          text-align: center;
          margin: 0;
        }

        &__content {
          flex-direction: column;
          height: 100%;
        }
      }

      .linksContainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;

        .article {
          .link {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            min-width: 0;
          }
        }

        .article__desc {
          display: none;
        }
      }
    }

    &__title {
      width: 100%;
      text-align: center;
      font-size: 2em;
    }

    &__btnContainer {
      align-self: flex-end;
      margin: 1em 0;

      * {
        @include btn-style();
        width: max-content;
      }
    }
  }
}
