@font-face {
  font-family: distant_galaxyregular;
  src: url("./fonts/DISTGRG_-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular";
  src: url("./fonts/ubuntu/Ubuntu-R.ttf");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  font-size: 1.2em;
}

body {
  margin: 0;
}
body * {
  font-size: 0.9em;
  font-family: "Ubuntu Regular", sans-serif;
  color: white;
  letter-spacing: 0.5px;
}
body .backgroundImage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.flex {
  display: flex;
}

.wrapper {
  padding: 0;
  margin: 0;
  flex-direction: column;
}
.wrapper ::placeholder {
  color: lightgray;
  font-style: italic;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .rssTooltip {
  position: absolute;
  z-index: 1;
}
.wrapper .rssTooltip .article__desc {
  padding: 1%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
  height: auto;
  border-radius: 1em;
  opacity: 0.9;
}

.header {
  display: inline-flex;
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}
.header svg {
  margin-left: 1.5%;
  cursor: pointer;
}
.header__settingsBtn {
  margin-right: 0.5%;
}
.header__settingsBtn:hover {
  transform: rotate(-720deg);
  transition: transform 1000ms;
}

.settings__container {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1em;
}
.settings__container .settings__child {
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 60%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  position: relative;
  box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.5);
}
.settings__container .settings__child__header {
  flex-direction: row;
  width: 100%;
  margin: 1% 0 0 1%;
}
.settings__container .settings__child__header h1 {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  font-family: distant_galaxyregular;
  margin-bottom: 0;
}
.settings__container .settings__child__heading {
  font-family: distant_galaxyregular;
  margin: 2em 0 0 1em;
}
.settings__container .settings__child__heading2 {
  font-size: 1.3em;
}
.settings__container .settings__child .settings__BtnContainer {
  position: absolute;
  top: 92%;
  width: 100%;
  left: 0;
  display: inline-flex;
  justify-content: end;
  -webkit-justify-content: flex-end;
}
.settings__container .settings__child__cancelBtn, .settings__container .settings__child__saveBtn {
  border: none;
  border-radius: 15px;
  padding: 0.7em;
  margin-right: 1.1em;
  cursor: pointer;
}
.settings__container .settings__child__saveBtn {
  background: green;
}
.settings__container .settings__child__cancelBtn {
  background: red;
}
.settings__container .settings__child .backgroundImageUploadForm,
.settings__container .settings__child .owmToken,
.settings__container .settings__child .searchEngineSelection,
.settings__container .settings__child .toggleRss {
  flex-direction: row;
  align-items: baseline;
}
.settings__container .settings__child .backgroundImageUploadForm *,
.settings__container .settings__child .owmToken *,
.settings__container .settings__child .searchEngineSelection *,
.settings__container .settings__child .toggleRss * {
  font-size: 1.05em;
}
.settings__container .settings__child .owmToken__Comment {
  margin-right: 1.5em;
}
.settings__container .settings__child .searchEngineSelection,
.settings__container .settings__child .toggleRss {
  justify-content: space-between;
  margin: 2em 0 0 1em;
  width: 90%;
}
.settings__container .settings__child .searchEngineSelection__Comment,
.settings__container .settings__child .toggleRss__Comment {
  width: 100%;
}
.settings__container .settings__child .searchEngineSelection__Switch,
.settings__container .settings__child .toggleRss__Switch {
  position: absolute;
  display: inline-block;
  width: auto;
  height: 100%;
  left: 86%;
}
.settings__container .settings__child .searchEngineSelection__Slider,
.settings__container .settings__child .toggleRss__Slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  transition: 0.4s;
  border-radius: 2em;
  height: 1.6em;
  width: 3em;
  cursor: pointer;
}
.settings__container .settings__child .searchEngineSelection__Slider:before,
.settings__container .settings__child .toggleRss__Slider:before {
  position: absolute;
  content: "";
  height: 70%;
  width: 45%;
  bottom: 15%;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.settings__container .settings__child .searchEngineSelection__Slider.checked:before,
.settings__container .settings__child .toggleRss__Slider.checked:before {
  left: 4px;
}
.settings__container .settings__child .searchEngineSelection__Slider.unchecked:before,
.settings__container .settings__child .toggleRss__Slider.unchecked:before {
  left: 4px;
}
.settings__container .settings__child .searchEngineSelection__Input,
.settings__container .settings__child .toggleRss__Input {
  display: none;
}
.settings__container .settings__child .searchEngineSelection__Input:checked + .toggleRss__Slider,
.settings__container .settings__child .toggleRss__Input:checked + .toggleRss__Slider {
  background-color: #20df3d;
}
.settings__container .settings__child .searchEngineSelection__Input:focus + .toggleRss__Slider,
.settings__container .settings__child .toggleRss__Input:focus + .toggleRss__Slider {
  box-shadow: 0 0 1px #20df3d;
}
.settings__container .settings__child .searchEngineSelection__Input:checked + .toggleRss__Slider:before,
.settings__container .settings__child .toggleRss__Input:checked + .toggleRss__Slider:before {
  transform: translateX(26px);
}
.settings__container .settings__child .backgroundImageUploadForm {
  margin: 2em 0 0 1em;
  justify-content: space-between;
  width: 90%;
}
.settings__container .settings__child .backgroundImageUploadForm__Btn {
  color: black;
  border-radius: 15px;
  border: none;
  background-color: lightblue;
  padding: 1%;
  cursor: pointer;
}
.settings__container .settings__child .backgroundImageUploadForm__InputFile {
  display: none;
}
.settings__container .settings__child .backgroundImageUploadForm__InputUrl {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightblue;
  max-width: 100%;
}
.settings__container .settings__child .owmToken {
  justify-content: space-between;
  margin: 2em 0 0 1em;
  width: 90%;
}
.settings__container .settings__child .owmToken__input {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightblue;
  max-width: 100%;
}
.settings__container .settings__child .searchEngineSelection__select, .settings__container .settings__child .searchEngineSelection__select option {
  color: black;
  font-size: 1em;
}

.warning {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  color: red;
  font-style: italic;
  margin-top: 1em;
  font-size: 1em;
}

.mainContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upperContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.upperContainer__converter {
  display: none;
  height: 3em;
  width: 60%;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-bottom: 2%;
  border-radius: 15px;
  padding: 1%;
  box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.5);
}
.upperContainer__converter .converter {
  width: 100%;
  justify-content: space-around;
}
.upperContainer__converter .converter * {
  z-index: 1;
  font-size: 1em;
}
.upperContainer__converter .converter__value1, .upperContainer__converter .converter__value2 {
  height: 2em;
  width: 13%;
  color: black;
}
.upperContainer__converter .converter__remove {
  position: relative;
  top: -50%;
  left: 94%;
  border-radius: 15px;
  padding: 3px;
  cursor: pointer;
}
.upperContainer__converter .converter input {
  width: 15%;
  height: 2em;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightblue;
  max-width: 100%;
  color: white;
}
.upperContainer__converter .converter .warning {
  display: flex;
  width: 100%;
  height: 2em;
  justify-content: center;
  padding-top: 1%;
  font-size: 1.1em;
}
.upperContainer .msgContainer {
  width: auto;
  height: auto;
  padding: 0.75%;
  margin: 1.5% 0;
  border: 1px solid white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.upperContainer .msgContainer .warning {
  border: 1px solid red;
}

.formContainer__container {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.formContainer__container::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: url("./wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(5px);
  z-index: -1;
}
.formContainer__container .formContainer {
  display: inline-flex;
  width: 50%;
  justify-content: center;
  align-items: baseline;
  background-color: white;
  padding: 0.5% 1%;
  border-radius: 2em;
  opacity: 0.7;
  margin: 3% 0 0;
}
.formContainer__container .formContainer .form {
  display: inline-flex;
  width: 100%;
  align-items: center;
  font-size: 1.2em;
}
.formContainer__container .formContainer .form .questionBox {
  width: 100%;
  height: 2em;
  border: none;
  background: none;
  color: black;
}
.formContainer__container .formContainer .form ::placeholder {
  color: black;
  font-style: italic;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
}
.formContainer__container .formContainer .form button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.formContainer__container .formContainer .form__Submit {
  margin-left: 1%;
}
.formContainer__container .suggestions {
  font-size: 1.3em;
  background-color: white;
  width: 30%;
  opacity: 0.7;
  border-radius: 0 0 15px 15px;
  overflow-y: auto;
  margin-bottom: 3%;
}
.formContainer__container .suggestions * {
  color: black;
}
.formContainer__container .suggestions .active {
  height: auto;
}
.formContainer__container .suggestions .suggestion {
  padding: 0.5% 0 0.5% 1%;
  align-items: center;
  width: 99%;
  flex-direction: row;
  cursor: pointer;
}
.formContainer__container .suggestions .suggestion__icon {
  padding-right: 2%;
}
.formContainer__container .suggestions .suggestion__label {
  width: 10%;
}
.formContainer__container .suggestions .suggestion__desc {
  font-style: italic;
  color: gray;
}

.audio {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5%;
  border-radius: 15px;
  margin-bottom: 1vh;
  display: none;
  position: fixed;
  top: 85%;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}
.audio__leftSvg, .audio__rightSvg {
  cursor: pointer;
  min-width: 2em;
}
.audio .player {
  height: min-content;
  min-width: 50%;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.audio__player {
  width: 100%;
}
.audioMsg {
  height: min-content;
  width: 50%;
  font-size: 1.4em;
  min-width: 50%;
}
.audioMsg .playlistInfo {
  width: min-content;
  margin: 0 1.5vh;
}
.audio__remove {
  height: 2.5vh;
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: 97%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.2%;
  border-radius: 45%;
}
.audio .streamInfoContainer {
  width: 50%;
  margin: 0 1vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.audio .streamInfoContainer .streamTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
  display: inline;
  white-space: nowrap;
}
.audio .streamInfoContainer .YtId {
  padding-top: 1%;
}
.audio .streamInfoContainer .YtId,
.audio .streamInfoContainer .streamTitle {
  margin: 0;
  text-align: center;
}

.moreContent {
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  font-size: 1.1em;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 2em;
}
.moreContent .content__container {
  width: 30%;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1em;
}
.moreContent .content__container .content {
  height: 40vh;
  width: 100%;
  font-size: 1.2em;
}
.moreContent .content__container .content .contentOptions {
  display: none;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  width: 17%;
  margin-top: 1%;
}
.moreContent .content__container .content .contentOptions__clearResultsbtn,
.moreContent .content__container .content .contentOptions .removeContentBtn,
.moreContent .content__container .content .contentOptions .updateContentBtn {
  padding: 5%;
  cursor: pointer;
}
.moreContent .content__container .content .contentOptions .removeContentBtn {
  border: 1px solid red;
  border-radius: 45%;
}
.moreContent .content__container .content .blank {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1000ms, transform 200ms;
}
.moreContent .content__container .content .blank:hover {
  display: flex;
  opacity: 1;
}
.moreContent .content__container .content .blank:hover .blank__addContent__svg {
  transform: rotate(360deg);
  transition: transform 1000ms;
}
.moreContent .content__container .content .flex {
  display: flex;
}
.moreContent .content__container .content .invisible {
  display: none;
  opacity: 0;
}
.moreContent .content__container .content .addContent,
.moreContent .content__container .content .blank,
.moreContent .content__container .content .forecast,
.moreContent .content__container .content .rssContainer,
.moreContent .content__container .content .warning,
.moreContent .content__container .content .youtubeSearchContainer {
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 100%;
  width: 100%;
  font-size: 1.05em;
}
.moreContent .content__container .content .blank,
.moreContent .content__container .content .forecast,
.moreContent .content__container .content .rssContainer,
.moreContent .content__container .content .warning,
.moreContent .content__container .content .youtubeSearchContainer {
  height: 100%;
  max-height: 100%;
  padding: 0 1% 0 2%;
}
.moreContent .content__container .content .blank,
.moreContent .content__container .content .rssContainer,
.moreContent .content__container .content .warning {
  margin-bottom: 2vh;
}
.moreContent .content__container .content .forecast__header,
.moreContent .content__container .content .rssContainer__header,
.moreContent .content__container .content .youtubeSearchContainer__header {
  transition: display 400ms;
}
.moreContent .content__container .content .forecast__header:hover .contentOptions,
.moreContent .content__container .content .rssContainer__header:hover .contentOptions,
.moreContent .content__container .content .youtubeSearchContainer__header:hover .contentOptions {
  display: flex;
}
.moreContent .content__container .content .forecast {
  margin-right: -3%;
}
.moreContent .content__container .content .forecast__header {
  display: inline-flex;
  align-items: center;
  padding-right: 2%;
}
.moreContent .content__container .content .forecast__header__title {
  width: 100%;
  margin: 2% 0;
  text-align: center;
}
.moreContent .content__container .content .forecast__content {
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
}
.moreContent .content__container .content .forecast__content__info {
  margin: 0 2%;
  height: 100%;
  width: 50%;
  flex-direction: column;
}
.moreContent .content__container .content .forecast__content__info * {
  display: flex;
  align-items: center;
}
.moreContent .content__container .content .forecast__content__info span {
  margin-top: 2%;
}
.moreContent .content__container .content .forecast__content__info .forecastIcon {
  width: 15%;
  height: 100%;
  justify-content: center;
  margin-top: 0;
  margin-right: 10%;
  font-size: 1.5em;
}
.moreContent .content__container .content .forecast__content__info__description__desc, .moreContent .content__container .content .forecast__content__info__humidity__desc, .moreContent .content__container .content .forecast__content__info__temp__desc {
  margin: 0;
}
.moreContent .content__container .content .forecast__weatherIcon,
.moreContent .content__container .content .forecast .icon {
  justify-content: end;
  align-items: flex-start;
  width: 50%;
}
.moreContent .content__container .content .forecast__weatherIcon__icon,
.moreContent .content__container .content .forecast .icon__icon {
  font-size: 3.5em;
  margin-right: 5%;
}
.moreContent .content__container .content .youtubeSearchContainer__content {
  height: 85%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.moreContent .content__container .content .youtubeSearchContainer__content__input {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightblue;
  max-width: 100%;
}
.moreContent .content__container .content .youtubeSearchContainer__content__input ::placeholder {
  color: lightgray;
  font-style: italic;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results {
  flex-direction: column;
  visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: 1em;
  font-size: 1em;
  overflow: auto;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results__result {
  margin-bottom: 1.5em;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results__result__thumbnailContainer {
  width: 25%;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results__result__thumbnailContainer img {
  max-height: 100%;
  max-width: 100%;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results__result__content {
  flex-direction: column;
  width: 75%;
  padding-left: 1em;
  font-size: 1.1em;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results__result__content a {
  text-overflow: ellipsis;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results__result__content p {
  margin: 0.6em 0 0;
}
.moreContent .content__container .content .youtubeSearchContainer__content__results__result__content p u {
  text-decoration-style: dashed;
}
.moreContent .content__container .content .youtubeSearchContainer__header {
  width: 100%;
}
.moreContent .content__container .rssContainer__header {
  display: inline-flex;
  align-items: center;
}
.moreContent .content__container .feedTitle,
.moreContent .content__container .youtubeSearchContainer__header p {
  display: block;
  width: 90%;
  text-align: center;
  margin: 2% 0;
}
.moreContent .content__container .addContent {
  display: none;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.moreContent .content__container .addContent label {
  margin: 2% 0;
  text-align: center;
}
.moreContent .content__container .addContent__select, .moreContent .content__container .addContent__select option {
  color: black;
  height: 2.1em;
}
.moreContent .content__container .addContent .select {
  padding: 1%;
}
.moreContent .content__container .addContent__feed, .moreContent .content__container .addContent__weather, .moreContent .content__container .addContent__youtube {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.moreContent .content__container .addContent__youtube__msg {
  font-style: italic;
  margin: 1.5% 0;
  text-align: center;
  flex-wrap: wrap;
}
.moreContent .content__container .addContent__btnContainer {
  width: 100%;
  display: none;
  height: max-content;
  justify-content: end;
  -webkit-justify-content: flex-end;
  margin-bottom: 2vh;
  margin-right: 4vh;
}
.moreContent .content__container .addContent__feed__input, .moreContent .content__container .addContent__weather__input {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightblue;
  max-width: 100%;
  border-radius: 5px;
}
.moreContent .content__container .addContent__cancelBtn, .moreContent .content__container .addContent__submitBtn {
  border: none;
  border-radius: 12px;
  padding: 1.5%;
  cursor: pointer;
}
.moreContent .content__container .addContent__submitBtn {
  background-color: green;
  margin-left: 3%;
}
.moreContent .content__container .addContent__cancelBtn {
  background-color: red;
}
.moreContent .content__container .addContent .warning {
  align-items: center;
  background: none;
  font-size: 0.9em;
  height: auto;
}
.moreContent .content__container .menu {
  justify-content: center;
}
.moreContent .content__container .linksContainer {
  min-width: 0;
  flex: 1;
  overflow-y: hidden;
}
.moreContent .content__container .linksContainer a:visited {
  color: grey;
}
.moreContent .content__container .linksContainer .article {
  flex-direction: column;
  margin-top: 0.5em;
}
.moreContent .content__container .linksContainer .article .link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  cursor: pointer;
}
.moreContent .content__container .linksContainer .article__desc {
  display: none;
  position: relative;
  top: -100px;
  left: 100%;
  background-color: white;
  border-radius: 15px;
  color: black;
  text-align: justify;
  padding: 5%;
}
.moreContent .content__container .subRow {
  margin-top: 2.5vh;
}

.footer {
  height: 5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
  padding-bottom: 1em;
  position: relative;
  top: 97%;
}
.footer .icon {
  font-size: 1.3em;
}
.footer .credits {
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  width: 100%;
  margin: 0 0 3vh;
}
.footer .credits * {
  font-size: 1.2em;
  height: auto;
  margin: 1% 0 0;
}

.confirmation {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.confirmation__child {
  width: 40%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

/* Responsive design */
@media (max-width: 720px) {
  .header {
    width: auto;
    left: 88%;
  }
  .header .header__converterBtn {
    display: none;
  }

  .formContainer__container .formContainer {
    width: 70%;
  }
  .formContainer__container .formContainer .questionBox {
    width: 80%;
    height: 2em;
    border: none;
    background: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .formContainer__container .formContainer .formSubmit {
    width: 30px;
    height: 30px;
  }

  .suggestions {
    height: auto;
    overflow-y: auto;
  }
  .suggestions .suggestion__label {
    width: 30%;
  }

  .moreContent {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15%;
    overflow-y: auto;
    width: 80%;
    flex-wrap: wrap;
  }
  .moreContent .content__container {
    width: 100%;
  }
  .moreContent .content__container .content.content1 {
    margin-top: 5%;
  }
  .moreContent .content__container .content {
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: end;
    margin-top: 1.5em;
  }
  .moreContent .content__container .content .forecast,
.moreContent .content__container .content .rssContainer {
    height: 100%;
  }
  .moreContent .content__container .content .forecast .linksContainer .article,
.moreContent .content__container .content .rssContainer .linksContainer .article {
    padding-left: 0.6em;
  }
  .moreContent .content__container .newContent {
    display: none;
  }

  .settings__container .settings__child {
    overflow-y: auto;
    width: 90%;
  }
  .settings__container .settings__child .backgroundImageUploadForm,
.settings__container .settings__child .owmToken,
.settings__container .settings__child .searchEngineSelection,
.settings__container .settings__child .toggleRss {
    flex-direction: column;
  }
  .settings__container .settings__child .backgroundImageUploadForm__Btn,
.settings__container .settings__child .backgroundImageUploadForm__InputUrl,
.settings__container .settings__child .owmToken__input,
.settings__container .settings__child .searchEngineSelection__select {
    margin-top: 1.5em;
  }
  .settings__container .settings__child .settings__BtnContainer {
    position: relative;
    top: 5%;
    left: 0;
    justify-content: space-evenly;
  }
  .settings__container .settings__child__cancelBtn, .settings__container .settings__child__saveBtn {
    margin-bottom: 1em;
    margin-right: 0;
  }
}

/*# sourceMappingURL=app.css.map */
